

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');




*{
    margin: 0;
    padding: 0;
}

body {
    font-family:"Cascadia Code", sans-serif; 
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);

    a,
    .btn {
        transition: all 300ms ease;
    }

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}


}